body {
	background-image: url(ocean.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Quicksand', sans-serif;
}

header {
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: 'Monoton', sans-serif;
}

h1 {
	font-size: 30px;
	text-align: center;
	color: lightgrey;
}

.right-column {
	background-color: white;
}

.container {
	margin: 0 auto;
	width: 600px;
	overflow: auto;
	text-align: center;
}

#table {
	display: inline-block;
	float: left;
}

#balance {
	color: red/*#003399*/;
	background-image: url(background1.jpg);
	margin-top: 20px;
	border-radius: 10px;
	width: 150px;
	height: 30px;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

form {
	color: white;
}

#msg {
	font-size: 25px;
	color: yellow;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#board {
	border-collapse: collapse;
	/*margin: auto;
	margin: 10 auto;*/
}

#board td {
	border: solid darkgrey 3px;
/*	color: red;*/
}

#board td img {
	text-align: center;
	height: 143px;
	width: 143px;
	vertical-align: middle;

}

#board td img.loser-cell {
	opacity: 0.3;
}

#spin {
	display: inline-block;
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	border: solid red 4px;
	background-color: grey;
	color: white;
}

/*--- The Radio Buttons ---*/

#radio label {
	display: inline-block;
	float: left;
	position: relative;
	left: 10px;
	font-weight: 200;
	font-size: 1.35em;
	padding: 10px 10px 10px 80px;
	margin: 10px auto;
	height: 10px;
	width: 60px;
	z-index: 1; /*stay on top*/
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
	color: white;
}

/*#radio label input[type=radio] checked {
	background: yellow;
}*/

#radio label:hover {
	color: yellow;
}

footer {
	padding-top: 30px;
	color: white;
}
/*--- The Start Again Button ---*/

.button {
    position: relative;
    top: 00px;
    left: 200px;
    display: inline-block;
    margin: 0 auto;
    
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.button span {
    background-color: #E8E8E8;
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2)))
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        -webkit-gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;

    display: inline-block;
    padding: 10px 40px 10px 40px;
    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.button span:hover {
    color: #4da6ff;
    text-shadow: 0px -1px #97A63A;
    cursor: pointer;
}

.button:active {
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1),
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
}

.button:active span{
    -webkit-transform: translate(0, 5px); /* depth of button press */
}
